.footer1{
    display: flex;
    justify-content: space-between;
}
.footer{
    margin-top: 30px;
}
.footer-payment{
    display: flex;
    justify-content: center;

}
.social-icons{
    display: flex;
    justify-content: center;

}